# Зависимости нужны исключительно для работы R-CNN
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
--extra-index-url https://download.pytorch.org/whl/cu128

mmengine==0.10.4
mmdet==3.3.0

numpy==2.1.3
pandas==2.2.3
Pillow==11.2.1
opencv-python==4.13.0.92
opencv-python-headless==4.11.0.86
matplotlib==3.10.3
PyYAML==6.0.2
tqdm==4.67.1
requests==2.32.3